extends layout

block content
  .wrapper
    a(href=".")
      h1= title
        small Where you can get your URL cat fact

    if shadifiedURL
      p Your URL has been cat fact!
      #cat-fact-url
        a(href="#{shadifiedURL}") #{shadifiedURL}

      #original
        p You submmitted:
          a(href="#{original}") #{original}

      #again
        h2 Want to cat fact another one?

    if errors
      #error
        #{errors}

    .container
      form.form(method="POST" action="/")
        fieldset(class='form-fieldset ui-input __first')
          input(type="text", name="url")
          label(for='url')
            span(data-text='Enter URL') Enter URL

        .form-footer
          button(type="submit", class='btn') Submit

    unless shadifiedURL
      p #{count} URLs have been cat fact!
      if urls
        ul
          each url, val in urls
            li: a(href="#{url.shadyURL}") #{url.catFact}

  footer
    p
      a(href="http://alexjreyes.com") alexjreyes.com
      &nbsp;&copy;
      script.
        document.write(new Date().getFullYear());
